{% extends "base.html" %}
{% block content %}

<h2 style="text-align:center; margin-bottom:25px;">
Admin - All Users History
</h2>

{% if history|length == 0 %}
<p style="text-align:center;">No data available</p>
{% endif %}

<div class="grid">

{% for item in history %}
<div class="card" style="text-align:center; padding:15px;">

    <h3 style="color:#22c55e;">{{ item.username }}</h3>

    <div style="width:100%; height:180px; overflow:hidden; border-radius:12px;">
        <img src="{{ item.image }}" 
             style="width:100%; height:100%; object-fit:cover;">
    </div>

    <h4 style="margin-top:10px;">{{ item.prediction }}</h4>

    <p><b>Confidence:</b> {{ item.confidence }}</p>

    <p style="font-size:13px; color:#cbd5e1;">
        {{ item.date }}
    </p>

    <!-- 🔥 DELETE BUTTON -->
    <a href="/delete/{{ item.id }}">
        <button style="
            margin-top:10px;
            padding:10px 15px;
            background:#ef4444;
            border:none;
            border-radius:8px;
            color:white;
            cursor:pointer;">
            Delete
        </button>
    </a>

</div>
{% endfor %}

</div>

{% endblock %}
